.progressbar{
    position: absolute;
    bottom: 0px;
    right: 20px;
    background-color: white;
    border: 1px solid black;
    width: 360px;
    .header{
        background-color: black;
        position: relative;
        h2{
            color: white;
            padding: 15px;
        }
        .close{
            position: absolute;
            top: 15px;
            right: 15px;

        }
        .hide, .hideActive{
            position: absolute;
            top: 15px;
            right: 75px;
            transition: all ease .2s;
        }
        .hideActive{
            transition: all ease .2s;
            top: 8px;
            transform: rotate(180deg);
        }
    }

    .block{
        display: block;
        transition: all ease .4s;
        .item{
            height: 60px;
            width: 100%;
            padding: 30px 20px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.4);
            display: flex;
            justify-content: space-between;
            align-items: center;
            span{
                max-width: 200px;
                font-size: 14px;
                padding: 5px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .icon{
                width: 40px;
                height: 40px;
            }
            .circul{
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
            }
        }
    }
    .active{
        display: none;
    }

}