.emptyfolder{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 305px);
    img{
        width: 240px;
        margin-bottom: 10px;
    }
    h3{
        font-size: 20px;
    }
}