.user{
    max-width: 880px;
    margin: 40px auto 0px;

    .user__info{
        margin: 40px auto 0;
        border: 2px solid black;
        padding: 10px 15px;
        display: flex;
        width: 100%;
    }
    .user__disk{
        margin: 20px 0px 20px 60px;
        width: 50%;

        .circle__block{
            display: flex;
            justify-content: space-between;
        }
    }
}