.user{
    max-width: 880px;
    margin: 40px auto 0px;

    .user__wrap{
        margin: 40px auto 0;
        border: 2px solid black;
        padding: 10px 15px;
        display: flex;
    }
    .wrap{
        margin: 20px 0px 20px 60px;
        display: flex;
        flex-direction: column;
        .circul__block{
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            .circul{
                width: 100px;
                height: 100px;
                margin-right: 20px;
            }
        }

        span{
            font-size: 14px;
        }
        .bold{
            font-size: 18px;
        }
    }
}