@import "../../utils/colors.scss";

.disk{
    padding: 10px;
    max-width: 1280px;
    margin: 20px auto 0px;
    .nav__wrap{
        display: flex;
    }
    .btn__block{
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .btn__left, .btn__right{
            width: 310px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .btn{
                width: 24px;
                height: 24px;
                transition: all ease .4s;
                &:hover{
                    background-color: $hover;
                    transform: scale(1.1);
                }
            }
        }
        .btn__right{
            width: 180px;
        }

    }
}